
.wrapper
	max-width 100%
	overflow-x auto

.table
	:global
		.ant-table-small, .ant-table-content
			border 0
		table
			border 1px solid #e8e8e8
		.ant-table td
			white-space nowrap
		tbody.ant-table-tbody
			background #fff
		.ant-table-row-cell-break-word
			word-wrap normal
			word-break normal

.markerPopup
	:global
		.ant-tooltip-inner
			background #fff
			padding 0.5rem
			.ant-tag
				margin 0.3rem
		.ant-tooltip-arrow
			border-top-color #fff

.marker
	margin-right 4px
	transition all 0.5s ease


.RecordInfo
	:global
		.ant-popover-inner-content
			background #fff
			padding 0
			max-width 400px
			max-height 300px
			overflow auto
	table
		padding 1rem
	td
		padding 0.25em 1em
	td:first-child
		font-weight bold
		text-align right
		padding-right 0
	tr:nth-child(even)
		background #f0f0f0

