

.DictEditor
	:global
		.ant-table-wrapper
			width 100%
	> *
		margin-left 1rem

.RefEditor


	:global
		.ant-table-body
			margin 0 !important
		.ant-table-content
			border 0 !important
	.controls
		width 100%
		margin-top 1em

.ColorEditor_color
	display inline-block
	width 16px
	height 16px
	margin-right 0.5em
	outline 1px solid #fff
	border 1px solid #d0d0d0

.ColorEditor_value
	display inline-block
	width 65

.ColorEditor_popover
	:global
		.ant-popover-inner-content
			padding 0

.EnumEditor, .ActionsEditor
	> span
		max-width 150px
		text-overflow ellipsis
		overflow hidden
		margin-right 0.5em
		white-space nowrap

.EnumEditorModal
	table
		td:first-child
			> div
				width 55px
				background transparent
		td:nth-child(2), th:nth-child(2)
			padding 0 0.5em

.EnumAddButton
	margin-top 1em

.ActionsEditorModal
	:global
		.ant-modal-body
			padding 0
