
.table
	thead th
		font-size 0.8em
	tbody > tr > td
		padding 0.25em 0
		> *
			vertical-align middle
		> tr.deleted
			position relative
			:after
				content ''
				height 1px
				background red
				position absolute
				left 0.75em
				right 0.75em
				margin-top 1.3em

	.tagKind
		font-style italic
		opacity 0.5
		padding 0 0.25rem
		&:before
			content '('
		&:after
			content ')'

	// force size="small" on all ant-input-like components in our table
	:global
		.ant-input
			background #fff
			padding 0 7px
		.ant-select-auto-complete.ant-select .ant-input
			background #fff
		.ant-btn
			background #fff
		.ant-input-number
			background #fff

.addTagContainer
	> * ~ *
		margin-left 0.5rem
	&.adding
		color blue


.newTagButton
	flex 0 1 30px


.tagEditor
	width 100%
	vertical-align middle
	line-height 1
	> *
		vertical-align middle


.tagName
	padding-right 0.25em
	white-space nowrap

	&:global
		&.Str
			color #a0a0a0
		&.Number
			color #b083e0
		&.Marker
			color #e995c2
		&.Ref
			color #628ecc
		&.Bool
			color #48b569
		&.DateTime
			color #c34c46
		&.Uri
			color #333
		&.Time
			color #94a89a
		&.Date
			color #56a3a6
		&.Enum
			color #fe8637
	:global
		.anticon // caret down icon
			cursor pointer
			font-size 0.5em
			width 3em
			display inline-flex
			height 3em
			justify-content center
			align-items center
			> svg
				position relative
				left -0.5em
				top 1px


.tagValue
	opacity 0.9
	> *
		vertical-align middle
	~ div:last-child
		display inline-block
		margin-left 0.5rem

.markers
	margin-top -0.5em
	:global .ant-tag
		> *
			vertical-align middle
		> span
			display inline-block
			max-width 100px
			white-space nowrap
			overflow hidden
			text-overflow ellipsis
	> *
		margin-top 0.5em
		vertical-align top


