
.ant-form
	.ant-form-explain
		font-size 0.8em
	.ant-form-item
		margin-bottom 0.5rem
	.ant-form-item-label
		line-height 1em
	.ant-form-extra
		font-size 70%
		line-height 1.2

	header
		color black
		font-size 1.2em
		margin-top 1.5rem
		margin-bottom 0.5rem


