.resultsTable
	width 100%
	height 200px
	margin-top 1em
	overflow-y auto
	&.hasResults
		justify-content flex-start !important
	> ul:only-child, > div
		width 100%
		height 100%
		overflow auto

.selectedRow, .selectedRow:hover
	background #2d7da9
	color #fff
