$height = 300px

.wrapper
	//font-size 0.8em // lots of info, cram for space
	width 500px
	> *
		width 100%
		~ *
			margin-top 1em
	marker
		padding 0

.tableContainer
	border 1px solid #f0f0f0

.categories, .values
	user-select none
	cursor pointer
	white-space nowrap

.categories
	height $height
	flex 1 0 auto
	overflow-y auto
	div
		padding 0.2em
		&:nth-child(even)
			background #fafafa

.selected
	background #2d7da9 !important
	color #fff

.values
	flex 1 0 auto
	display block
	max-width 300px
	max-height $height
	overflow-y auto
	overflow-x hidden
	table, tbody
		width 100%
	td
		padding 0.2em
	td:first-child
		padding-left 0.5em
	tr:nth-child(even)
		background #fafafa

.category
	i:first-child
		margin-right 0.2em
	i:last-child
		margin-left 0.2em

.controls
	width 100%
